body {
    font-family: "Roboto Slab", serif;
  }
  
  h1 {
    text-align: center;
  }
  
  section {
    margin-top: 20px;
  }
  
  div.container {
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    padding-bottom: 50px;
    vertical-align: middle;
  }
  
  .container h2 {
    text-align: left;
  }
  
  .container div {
    display: inline-block;
  }
  
  .container div.text-block {
    display: block;
  }
  
  .container.justified {
    text-align: justify;
    display:list-item;
  }
  
  .color {
    justify-content: center;
    width: 300px;
    vertical-align: middle;
    border-radius: 5%;
  }
  
  p.white {
    color: white;
  }
  
  .color p {
    padding: 10px 0;
    justify-content: center;
  }
  
  .color#one {
    background-color: #5D12D2;
  }
  
  .color#two {
    background-color: #B931FC;
  }
  
  .color#three {
    background-color: #FF6AC2;
  }
  
  .color#four {
    background-color: #FFE5E5;
  }
  
  .font-block.middle {
    margin: auto 40px;
  }
  
  .font-block h3 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  .font-block p {
    margin-top: 0;
    font-size: 24px;
  }
  
  .font-block#oswald {
    font-family: "Oswald", sans-serif;
  }
  
  .font-block#pixelify {
    font-family: "Pixelify Sans", sans-serif;
  }
  
  .font-block#bebas {
    font-family: "Bebas Neue", sans-serif;
  }
  
  .text-block {
    text-align: justify;
    margin-bottom: 50px;
  }
  
  .text-block h3 {
    margin-bottom: 10px;
  }
  
  .text-block .fake-h1 {
    font-size: 40px;
    font-weight: 600;
  }
  
  .text-block .fake-h2 {
    font-size: 20px;
    font-weight: 400;
  }
  
  .text-block .fake-p {
    font-size: 14px;
    font-weight: 200;
  }